<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jsorrell.topicsgame" >

    <uses-permission android:name="android.permission.INTERNET" />

    <!--
     To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" /> <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- notifications -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.jsorrell.topicsgame.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.jsorrell.topicsgame.permission.C2D_MESSAGE" />

    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Required for applications which use Google Play Services. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".FriendsActivity"
            android:label="@string/title_activity_friends"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jsorrell.topicsgame.MainActivity" />
        </activity>
        <activity
            android:name=".GamesActivity"
            android:label="@string/title_activity_games"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jsorrell.topicsgame.MainActivity" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TopicCreationActivity"
            android:label="@string/title_activity_topic_creation" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.jsorrell.topicsgame" />
            </intent-filter>
        </receiver>

        <service android:name=".GcmIntentService" />

        <activity
            android:name=".PendingGamesActivity"
            android:label="@string/title_activity_pending_games"
            android:parentActivityName=".GamesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jsorrell.topicsgame.GamesActivity" />
        </activity>
        <activity
            android:name=".ActiveGamesActivity"
            android:label="@string/title_activity_active_games"
            android:parentActivityName=".GamesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jsorrell.topicsgame.GamesActivity" />
        </activity>
        <activity
            android:name=".FindFriendsActivity"
            android:label="@string/title_activity_find_friends" >
        </activity>
        <activity
            android:name=".ActiveFriendsActivity"
            android:label="@string/title_activity_active_friends" >
        </activity>
        <activity
            android:name=".PendingFriendsActivity"
            android:label="@string/title_activity_pending_friends" >
        </activity>
        <activity
            android:name=".SubmissionActivity"
            android:label="@string/title_activity_submission" >
        </activity>
        <activity
            android:name=".NewSubmission"
            android:label="@string/title_activity_new_submission"
            android:parentActivityName=".SubmissionActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jsorrell.topicsgame.SubmissionActivity" />
        </activity>
        <activity
            android:name=".ViewSubmissionsActivity"
            android:label="@string/title_activity_view_submissions"
            android:parentActivityName=".SubmissionActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jsorrell.topicsgame.SubmissionActivity" />
        </activity>
        <activity
            android:name=".ViewImageActivity"
            android:label="@string/title_activity_view_image" >
        </activity>
    </application>

</manifest>
